<!-- views/partials/linkFunctionModal.ejs -->
<div class="modal fade" id="linkFunctionModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <h4>🧩 Link Message to Function</h4>

      <form action="/inbox/link/<%= message.id %>" method="POST">
        <div class="form-group mb-3">
          <label for="function_id">Function</label>
          <select name="function_id" id="function_id" class="form-control">
            <option value="">(none)</option>
            <% functions.forEach(f => { %>
              <option 
                value="<%= f.id_uuid || f.id %>" 
                <%= String(message.related_function) === String(f.id_uuid || f.id) ? 'selected' : '' %>>
                <%= f.event_name %>
              </option>
            <% }) %>
          </select>
        </div>

        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">💾 Save Function</button>
        </div>
      </form>
    </div>
  </div>
</div>
