<% locals.layout = 'layouts/main'; %>

<div class="function-body py-4 px-4 proposal-page">
  <%- include('../../partials/proposal/builder', {
    fn,
    proposalId,
    proposalItems,
    templates,
    contacts,
    saved,
    termsLibrary,
    functionNotes,
    totals,
    builderHeading: 'Proposal Builder',
    builderDescription: `Configure proposal content for ${fn.event_name}.`
  }) %>
</div>
